version = 3

[palette]
  background = '#0e1416'
  error = '#ff5945'
  foreground = '#dee3e5'
  outline = '#899295'
  primary = '#83d3e3'
  secondary = '#b1cbd1'
  shadow = '#000000'
  surface = '#0e1416'
  surface_bright = '#343a3c'
  tertiary = '#bcc5eb'

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    template = ''
    foreground = 'p:foreground'
    type = 'os'
    style = 'plain'

  [[blocks.segments]]
    template = ' {{ .PWD }} '
    foreground = 'p:primary'
    type = 'path'
    style = 'plain'

    [blocks.segments.properties]
      style = 'agnoster'

  [[blocks.segments]]
    template = ' {{ .Full }} '
    foreground = '#FF4F00'
    type = 'rust'
    style = 'plain'

  [[blocks.segments]]
    template = ' {{ .Full }} '
    foreground = '#100e23'
    background = '#906cff'
    type = 'python'
    style = 'plain'

[[blocks]]
  type = 'rprompt'
  alignment = 'right'

  [[blocks.segments]]
    template = ' git: {{ .HEAD }} '
    foreground = 'p:secondary'
    type = 'git'
    style = 'plain'

  [[blocks.segments]]
    template = ' {{ .CurrentDate | date .Format }} '
    foreground = 'p:primary'
    type = 'time'
    style = 'plain'
